{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserv@</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <a class="image-container" href="https://www.villanuevadelascruces.es" target="_blank">
            <img src="{% static 'images/logo-vvcruces.png' %}" alt="Excmo. Ayuntamiento de Villanueva de las Cruces">
        </a>

        <a class="reserva-logo-container" href="/">
            <img class="reserva-logo" src="{% static 'images/reserva-logo.png' %}" alt="Reserv@">
        </a>

        <ul>

            {% if not user.is_authenticated %}
            <a class="blank-filler"></a>
            <li>
                <a class="icon-container" href="/">
                    <img src="{% static 'images/home.svg' %}">
                    <p class="icon-text">Inicio</p>
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a class="text" href="/admin/">Panel de administración</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    {% if 'espacios' in request.path and not 'espacios/reservas' in request.path %}
                        <a class="icon-container active" href="{% url 'listar_espacios_comunes' %}">
                            <img class="icon" src="{% static 'images/espacios.svg' %}">
                            <p class="icon-text">Espacios</p>
                        </a>
                    {% else %}
                        <a class="icon-container" href="{% url 'listar_espacios_comunes' %}">
                            <img class="icon" src="{% static 'images/espacios.svg' %}">
                            <p class="icon-text">Espacios</p>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if 'reservas' in request.path %}
                        <a class="icon-container active" href="{% url 'mis_reservas' %}">
                            <img class="icon" src="{% static 'images/reservas.svg' %}">
                            <p class="icon-text">Reservas</p>
                        </a>
                    {% else %}
                        <a class="icon-container" href="{% url 'mis_reservas' %}">
                            <img class="icon" src="{% static 'images/reservas.svg' %}">
                            <p class="icon-text">Reservas</p>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if 'notificaciones' in request.path %}
                        <a class="icon-container active" href="{% url 'mis_notificaciones' %}">
                            <img class="icon" src="{% static 'images/notifications.svg' %}">
                            <p class="icon-text">Notificaciones</p>
                        </a>
                    {% else %}
                        <a class="icon-container" href="{% url 'mis_notificaciones' %}">
                            <img class="icon" src="{% static 'images/notifications.svg' %}">
                            <p class="icon-text">Notificaciones</p>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if request.path == '/usuario/perfil/' %}
                        <a class="icon-container active" href="/usuario/perfil">
                            <img class="icon" src="{% static 'images/profile.svg' %}">
                            <p class="icon-text">Mis datos</p>
                        </a>
                    {% else %}
                        <a class="icon-container" href="/usuario/perfil">
                            <img class="icon" src="{% static 'images/profile.svg' %}">
                            <p class="icon-text">Mis datos</p>
                        </a>
                    {% endif %}
                </li>
                <li>
                    <a class="icon-container" href="/usuario/logout">
                        <img class="icon" src="{% static 'images/logout.svg' %}">
                        <p class="icon-text">Cerrar sesión</p>
                    </a>
                </li>

            {% endif %}
        </ul>
    </nav>
    <main>
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>