{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserv@</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav>
        <a class="image-container" href="https://www.villanuevadelascruces.es" target="_blank">
            <img src="{% static 'images/logo-vvcruces.png' %}" alt="Excmo. Ayuntamiento de Villanueva de las Cruces">
        </a>

        <a class="reserva-logo-container" href="/">
            <img class="reserva-logo" src="{% static 'images/reserva-logo.png' %}" alt="Reserv@">
        </a>

        <ul>


            <li><a href="/">Home</a></li>
            {% if user.is_superuser %}
                <li><a class="text" href="/admin/">Panel de administración</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a class="text" href="/usuario/perfil">Account</a></li>
                <li><a class="text" href="/usuario/logout">Cerrar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>