{% extends "layout.html" %}

{% block content %}
<h1>Mis Notificaciones</h1>

{% if usuario %}
    <h2>Hola, {{ usuario.user.username }}</h2>
    {% if notificaciones %}
        <div class="notificaciones-container">
            {% for notificacion in notificaciones reversed %}
                <div class="notificacion-bocadillo">
                    <p>{{ notificacion.mensaje }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tienes notificaciones.</p>
    {% endif %}
{% else %}
    <p>No se encontró el perfil del usuario.</p>
{% endif %}

{% endblock %}