{% extends "layout.html" %}
{% block content %}
<h1>Perfil de {{ request.user.username }}</h1>

    <ul>
        <li><strong>DNI:</strong> {{ usuario.dni }}</li>
        {% if usuario %}
            <li><strong>Rol:</strong> {{ usuario.get_rol_display }}</li>
            <li><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
        {% else %}
            <li>No hay información adicional disponible para este usuario.</li>
        {% endif %}
    </ul>

    <a href="{% url 'logout' %}">Cerrar Sesión</a>
</body>
</html>
{% endblock %}