{% extends "layout.html" %}
{% block content %}
<div class="perfil-container">
    <h1>Perfil de {{ request.user.username }}</h1>
    <div class="perfil-card">
        <ul>
            <li><strong>DNI:</strong> {{ usuario.dni }}</li>
            {% if usuario %}
                <li><strong>Rol:</strong> {{ usuario.get_rol_display }}</li>
                <li><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
            {% else %}
                <li>No hay información adicional disponible para este usuario.</li>
            {% endif %}
        </ul>
        <a href="{% url 'logout' %}">
            <button class="button logout">Cerrar sesión</button>
        </a>
    </div>
</div>
{% endblock %}