{% extends "layout.html" %}

{% block content %}
<h1>Espacios Comunes</h1>
<div class="espacios-comunes">
    {% for espacio in espacios %}
        <a href="{% url 'detalle_espacio_comun' espacio.pk %}" class="espacio">
            {% if espacio.imagenes.all %}
                <img src="{{ espacio.imagenes.all.0.url }}" alt="{{ espacio.nombre }}">
            {% else %}
                {% load static %}
                <img src="{% static 'images/default.jpg' %}" alt="Imagen no disponible">
            {% endif %}
            <h3>{{ espacio.nombre }}</h3>
            <p>{{ espacio.descripcion|truncatewords:20 }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
